.parques__agregar-ubicacion {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;

  margin-top: 120px;
  padding: 10px;
  gap: 40px;

  background-color: var(--background-principal);
}

/* mensaje de exito  */

.parques__agregar-ubicacion-mensaje {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1000px;

  margin: auto;
  height: 30px;

  top: 120px;
  z-index: 1500;

  border: 2px solid green;
  background-color: rgb(104, 151, 35);

  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

/* mensaje incorrecto  */

.parques__agregar-ubicacion-error {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 30px;

  top: 120px;
  z-index: 1500;

  border: 2px solid rgb(106, 14, 14);
  background-color: rgb(216, 70, 70);

  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  font-weight: 600;
}


.parques__agregar-ubicacion-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 20px;
}

.parques__agregar-ubicacion-formulario-grupo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
/* seccion 1  */

.parques__agregar-ubicacion-formulario-posicion {
  display: flex;
  width: 100%;
  min-height: 30px;

  gap: 5px;

  border: 2px solid white;

  align-items: center;
}

.parques__agregar-ubicacion-formulario-posicion-boton {
  display: flex;
  width: 100%;
  max-width: 70px;

  gap: 5px;
  border-right: 1px solid white;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all .3s ease;

  font-size: 20px;
}

.parques__agregar-ubicacion-formulario-posicion-boton:hover {
  background-color: rgb(13, 13, 13);
}

.parques__agregar-ubicacion-formulario-posicion-boton span {
  display: none;
}

.parques__agregar-ubicacion-formulario-posicion-input {
  display: flex;
  width: 100%;

  padding: 0px 10px;
  background-color: transparent;

  font-size: 18px;
}

/* seccion 2  */
.parques__agregar-ubicacion-contenedor-imagenes {
  display: flex;
  width: 100%;
  gap: 10px;
}

.parques__agregar-ubicacion-boton-agregar-imagen {
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 30px;

  gap: 5px;
  padding: 0px 10px;

  border: 1px solid white;

  cursor: pointer;
  transition: all .3s ease;
  font-size: 18px;

  align-items: center;
  justify-content: center;
}

.parques__agregar-ubicacion-boton-agregar-imagen:hover {
  background-color: rgb(8, 8, 8);
  transform: translateY(-3px);
}

.parques__agregar-ubicacion-contenedor-imagenes {
  display: flex;
  width: 100%;
  gap: 20px;
  overflow-x: auto;
  align-items: center;
}

.parques__agregar-ubicacion-contenedor-imagen {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 250px;

  padding: 10px;
  gap: 10px;

  border: 1px solid gray;

  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}

.parques__agregar-ubicacion-contenedor-imagen:hover {
  box-shadow: 0px 0px 10px 0px gray;
}

.parques__agregar-ubicacion-imagen {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.parques__agregar-ubicacion-imagen-icono {
  cursor: pointer;
  transition: all .3s ease;
}

.parques__agregar-ubicacion-imagen-icono:hover {
  color: red;
}

/* seccion 3  */

.label-span-formulario {
  /* display: flex; */
  width: 150px;
  height: 20px;

  margin-left: 5px;

  padding: 10px;
  background-color: #0A0A0A;
  border-radius: 20px;
  border: 1px solid gray;

  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 400;
}

.parques__agregar-ubicacion-formulario-input {
  display: flex;
  width: 100%;
  height: 35px;

  padding: 5px 10px;
  margin-top: 10px;

  border: 1px solid gray;
  border-radius: 20px;
  
  font-size: 18px;
}


/* seccion 4  */
.parques__agregar-ubicacion-formulario-textarea {
  display: flex;
  width: 100%;
  height: 150px;

  padding: 10px;

  border: 1px solid gray;
  border-radius: 20px;

  font-size: 18px;
  resize: none;
}


@media (min-width: 700px) {

  .parques__agregar-ubicacion-formulario-posicion-boton {
    max-width: 200px;
    font-size: 18px;
  }

  .parques__agregar-ubicacion-formulario-posicion-boton span {
    display: block;
  }
}