.parques__agregar-ubicacion {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;

  margin-top: 120px;
  padding: 10px;
  gap: 40px;

  background-color: var(--background-principal);
}