.parques__detalle-comentario-contenedor-perfil-comentario {
  display: flex;

  min-height: 80px;
  align-items: start;
  gap: 10px;
}


.parques__detalle-comentario-contenedor-comentario {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.parques__detalle-comentario-textarea {
  display: flex;
  max-width: 500px;
  min-height: 30px;

  padding: 5px;

  background-color: transparent;
  outline: none;
  border-bottom: 1px solid white;


  font-size: 18px;
  resize: none;  
  
  overflow: hidden;
  line-height: 1.4; 
}

.parques__detalle-comentario-contenedor-iconos {
  display: flex;
  gap: 10px;
}

.parques__detalle-comentario-contenedor-iconos svg {
  cursor: pointer;
  transition: all .3s ease;
}

.parques__detalle-comentario-icono-trash:hover {
  color: rgb(184, 50, 50);
}

.parques__detalle-comentario-icono-pen:hover {
  color: rgb(66, 66, 149);
}

