.inicio__pagina {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: rgb(31, 31, 31);
}

.inicio__sc-encabezado {
  background-image: url('/imagen-parque-pequenia.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  display: flex;
  width: 100%;
  min-height: 80vh;
  max-height: 800px;

  margin-top: 70px;
  padding: 10px;

  align-items: center;
  justify-content: center;
}

.inicio__encabezado-contenedor-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;

  padding: 10px;
  gap: 10px;

  background-color: rgba(0, 0, 0, 0.707);

  text-align: center;
}

/* seccion beneficio  */

.inicio__sc-beneficio {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;

  gap: 20px;
  margin-top: 40px;
  padding: 10px;

  align-items: center;
  text-align: center;
}

.inicio__sc-beneficio-contenedor-razones {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  gap: 20px;
}



@media (min-width : 500px) {
  .inicio__sc-encabezado {
    background-image: url('/imagen-parque-mediana.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width : 1000px) {
  .inicio__sc-encabezado {
    background-image: url('/imagen-parque-larga.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}