.informacion-sobre {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  align-items: center;
  
}

.informacion-sobre li {
  color: var(--color-link);
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease;
}

.informacion-sobre li:hover {
  transform: translateY(-3px);
  color:var(--color-link-hover) ;
}

@media(min-width: 600px) {
  .informacion-sobre {
    flex-direction: row;
    justify-content: center;
  }
}